<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="main">
    <f:if condition="{configuration.globalSharing} == 0">
        <f:if condition="{settings.url} || {settings.class}">
            <script type="text/javascript" src="{settings.url}" async="async"></script>
            <!-- ShareThis BEGIN -->
            <div class="{settings.class}"></div>
            <!-- ShareThis END -->
        </f:if>
    </f:if>
</f:section>