<f:for each="{socials}" as="social">
    <f:if condition="{settings.buttonType}== 'horizontal'">
        <span class='st_{social}_hcount' displayText='{social}' st_title="{settings.title}" st_url="{settings.url}" st_image="{settings.image}" st_summary="{settings.summary}"></span>	
    </f:if>
    <f:if condition="{settings.buttonType}== 'vertical'">
        <span class='st_{social}_vcount' displayText='{social}' st_title="{settings.title}" st_url="{settings.url}" st_image="{settings.image}" st_summary="{settings.summary}"></span>
    </f:if>
    <f:if condition="{settings.buttonType}== 'smallButton'">
        <span class='st_{social}' displayText="{f:if(condition:'{settings.displayText}',then:'{social}')}" st_title="{settings.title}" st_url="{settings.url}" st_image="{settings.image}" st_summary="{settings.summary}"></span>
    </f:if>
    <f:if condition="{settings.buttonType}== 'largeButton'">
        <span class='st_{social}_large' displayText='{social}' st_title="{settings.title}" st_url="{settings.url}" st_image="{settings.image}" st_summary="{settings.summary}"></span>  
    </f:if>
</f:for>